#instrucoes{
    width: 500px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: block;
}
#instrucoes.fechar{
    display: none;
}

.fechar{
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    background: #3498db;
    display: inline-block;
    border-radius: 4px;
}

#ganhou{
    width: 500px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}
#ganhou.abrir{
    display: block;
}

#inicio{
    width: 500px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: block;
}
#inicio.fechar{
    display: none;
}

#pausa{
    width: 500px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}
#pausa.abrir{
    display: block;
}